/*id*/
#welcome{
    background-color: green;
    margin-left: 50%;
}

/*Class*/
.bye{
    color: red;
    /* Top, Right, Bottom, Left Margins */
    margin: 20px 20px 20px 20px ;
    /* Or which represents everything*/
    margin: 20px;

}
/*Everything*/
/* *{
    color: red;
} */

b{
    margin: inherit;
}

#border{
    border: 3px solid purple;
    border-radius: 10px;
}

#height{
    height: 20px;
    width: 100%;
    background-color: purple;
}
#outline{
    border: 2px dotted;
    outline: solid;
    outline-offset: 10px;
}

#text {
    text-align: justify;
    vertical-align: top;
    text-decoration-line: underline overline;
    text-decoration-style: dotted;
    text-decoration-thickness: 1px;
    text-indent: 10px;
}
#fonts{
    /* font-family: 'Courier New', Courier, monospace; */
    font-weight: bold;
    /* 1 em = 16px */
    font-size: 1em;
}
.fonts{
    /* if Agbalumo font fail to load, it will fall back onto sans-serif font */
   font-family: Agbalumo, sans-serif;
}
table,td,th{
    display: none;
    visibility: hidden;
    border: 2px solid;
    width: 20%;
    border-collapse: collapse;
}
th,td{
    padding: 10px;
    text-align: center;
}
tr:hover{
    background-color: aqua;
}
/* all the b's inside the h1 */
/* h1 b{
    color: red;
} */

/* h1 direct children element */
h1 > b {
    color: blue;
}
/* h1 adjacent to b a.k.a after h1 */
h1 + b {
    color: red;
}
/* h1 sibilings to b's */
h1 ~ b{
    color: purple;
}
.dropdown-button{
    background-color: blue;
    color:white;
    padding: 13px;
    font-size: 16px;
    font-family: Agbalumo, sans-serif;
    border:none;
    cursor: pointer;
}
.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown-menu{
    display: none;
    position: absolute;
    background-color: skyblue;
    min-width: 150px;
}
.dropdown-menu a{
    color: black;
    padding: 11px 15px;
    text-decoration: none;
    display: black;
}
.dropdown-menu a:hover{
    background-color: white;
}
.dropdown:hover .dropdown-menu{
    display:block;
}
.dropdown:hover .dropdown-button{
    background-color: grey;
}