/*id*/
#welcome{
    background-color: green;
    margin-left: 50%;
}

/*Class*/
.bye{
    color: red;
    /* Top, Right, Bottom, Left Margins */
    margin: 20px 20px 20px 20px ;
    /* Or which represents everything*/
    margin: 20px;

}
/*Everything*/
/* *{
    color: red;
} */

b{
    margin: inherit;
}

#border{
    border: 3px solid purple;
    border-radius: 10px;
}

#height{
    height: 20px;
    width: 100%;
    background-color: purple;
}
#outline{
    border: 2px dotted;
    outline: solid;
    outline-offset: 10px;
}

#text {
    text-align: justify;
    vertical-align: top;
    text-decoration-line: underline overline;
    text-decoration-style: dotted;
    text-decoration-thickness: 1px;
    text-indent: 10px;
}
#fonts{
    /* font-family: 'Courier New', Courier, monospace; */
    font-weight: bold;
    /* 1 em = 16px */
    font-size: 1em;
}
.fonts{
    /* if Agbalumo font fail to load, it will fall back onto sans-serif font */
   font-family: Agbalumo, sans-serif;
}
#icons{

}